
.TagTile.background {
 background-size: cover;
 background-position: 50% 50%;
 background-blend-mode: luminosity;
 text-shadow: rgba(0, 0, 0, 0.45) 1px 1px 1px;
}

.TagTile a, .TagsLabel a, .TagHero--background h2, .DiscussionHero--background h2 {
 color: #fff !important;
}

.TagHero--background, .DiscussionHero--background {
 background-size: cover;
 background-position: 50% 50%;
 background-blend-mode: luminosity;
 text-shadow: rgba(0, 0, 0, 0.45) 1px 1px 1px;
}

.TagHero--background h2, .DiscussionHero--background h2 {
 text-shadow: rgba(0, 0, 0, 0.45) 2px 1px 1px;
}