
.TagTile.background {
 background-size: 200% 100%;
 background-position: 50% 50%;
 background-blend-mode: luminosity;
 text-shadow: rgba(0, 0, 0, 0.45) 1px 1px 1px;
}

.TagTile a, .TagsLabel a, .Hero h2 {
 color: #fff !important;
}

.Hero {
 background-size: cover;
 background-position: 50% 50%;
 background-blend-mode: luminosity;
 text-shadow: rgba(0, 0, 0, 0.45) 1px 1px 1px;
}

.Hero h2 {
 text-shadow: rgba(0, 0, 0, 0.45) 2px 1px 1px;
}